<div>
  <h1 class="title">Available</h1>
  <hr />

  <div class="row">
    <div *ngFor="let cat of availableCats; let i = index" class="center-align">

        <div class="col m4 s12">
              <img (mouseenter) ="mouseEnter($event, i)"
                  [ngClass]="hoveredId === i ? depth5: depth1"
                  id="{{i}}"
                  (mouseleave) ="mouseLeave($event)"
                  class="cat_breeder responsive-img z-depth-1 materialboxed"
                  width="250"
                  [attr.data-caption]="cat.title"
                  src="{{cat.location}}" alt="{{cat.description}}" />
            <p class="cat_name">{{cat.title}}</p>
          </div>

    </div>
  </div>
</div>
