button:hover {
  background-color: #b71c1c !important;
}

.content {
  margin-top: 5em;
  text-align: center;
  color: white;
}

.lnk {
      transition: all 0.3s ease-in;
      text-decoration:none;
      color: white;;
      cursor: pointer;
  }

  .network_icon {
    height: 1.5em;
    width: 1.5em;
    color: white;
    margin-bottom: -5%;

  }

  .network_name {

  }
  .lnk:hover {
    -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      color: #b71c1c;
  }
