
  <ul id="slide-out" class="side-nav primary ">
      <li><a routerLink="about" routerLinkActive="active text-on-active">About</a></li>
      <li><a routerLink="breeders" routerLinkActive="active text-on-active">Our Kings & Queens</a></li>
      <li><a routerLink="available" routerLinkActive="active text-on-active">Available</a></li>
      <li><a routerLink="gallery" routerLinkActive="active text-on-active">Gallery</a></li>
      <li><a routerLink="contactUs" routerLinkActive="active text-on-active">Contact Us</a></li>
</ul>
<div data-activates="slide-out" class="button-collapse btn-flat"><i class="material-icons burger">menu</i></div>
