<div>

  <h1 class="title">Kings and Queens</h1>
  <hr>

  <div class="row">
    <div class="males center-align">

      <div class="col m6 s12">
        <img class="" src="http://3.bp.blogspot.com/-cKkcZkF8BbU/VXNbmbk7mNI/AAAAAAAATDQ/dt9ffqmJPoU/s1600/otto-2.jpg" alt="">
      </div>
      <div class="col m6 s12 ">
        <img class="" src="http://3.bp.blogspot.com/-cKkcZkF8BbU/VXNbmbk7mNI/AAAAAAAATDQ/dt9ffqmJPoU/s1600/otto-2.jpg" alt="">
      </div>

    </div>

    <div class="females center-align">

      <div class="col m12 s12 l4">
        <img class="" src="http://3.bp.blogspot.com/-cKkcZkF8BbU/VXNbmbk7mNI/AAAAAAAATDQ/dt9ffqmJPoU/s1600/otto-2.jpg" alt="">
      </div>
      <div class="col m12 s12 l4">
        <img class="" src="http://3.bp.blogspot.com/-cKkcZkF8BbU/VXNbmbk7mNI/AAAAAAAATDQ/dt9ffqmJPoU/s1600/otto-2.jpg" alt="">
      </div>
      <div class="col m12 s12 l4">
        <img class="" src="http://3.bp.blogspot.com/-cKkcZkF8BbU/VXNbmbk7mNI/AAAAAAAATDQ/dt9ffqmJPoU/s1600/otto-2.jpg" alt="">
      </div>
    </div>

  </div>
</div>
