<div>

  <h1 class="title">Gallery</h1>
  <hr />

  <div class="row cat_gallery_container center-align">
    <div *ngFor="let image of imageArray; let i = index">
      <div class="col l4 s12">
        <img (mouseenter) ="mouseEnter($event, i)"
             [ngClass]="hoveredId === i ? depth5: depth1"
             id="{{i}}"
             (mouseleave) ="mouseLeave($event)"
             class="gallery_pic z-depth-1"
             src="{{image.location}}"
             alt="{{image.description}}">
      </div>
    </div>
  </div>

</div>
