.brand-logo {
  color: white;
  font-weight: 600pt;
  padding-left: 5%;

  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}

li > a {
  color: white;
}

li > a:hover {
  color: #f05545
}

.brand-logo:hover {
  color: #f05545;

}

