<nav class="z-depth-2">
  <div class="nav-wrapper grey darken-4">
    <a routerLink="/home" routerLinkActive="active" class="brand-logo">BACHADIFF</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="about" routerLinkActive="active text-on-active">About</a></li>
      <li><a routerLink="breeders" routerLinkActive="active text-on-active">Our Kings & Queens</a></li>
      <li><a routerLink="gallery" routerLinkActive="active text-on-active">Gallery</a></li>
      <li><a routerLink="contactUs" routerLinkActive="active text-on-active">Contact Us</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
