<div>

  <video class=" cat_vid responsive-video z-depth-5 hide-on-med-and-down" autoplay>
    <source src="{{videoUrl}}.mp4" type="video/mp4">
  </video>

  <div class="hide-on-large-only">
    <img class="cat_image" src="{{cat.location}}" alt="{{cat.description}}">
  </div>

  <div class="vid_text">
    <h3 class="title">Welcome to Amalias Ragdolls</h3>

    <a class="btn-floating btn-large waves-effect waves-light secondary-light" (click)="goToAbout()">
      <i class="material-icons">arrow_drop_down</i>
    </a>
  </div>
</div>
